---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Daily View">
  <main>

  <div class="flex flex-col">
<div>
  <h1>Day Number</h1>
      <div class="flex flex-row">
        <h2>
          Pills Remaining
        </h2>
        <h2>
          Next Refill
        </h2>
        <h2>
          Next Appointment
        </h2>
      </div>
</div>

  </div>
  </main>
</Layout>

