---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button"
import Card from '@/components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	<div class="flex flex-col gap-2 justify-between my-5">
			<div>

			<h1>Welcome to PilTrack</h1>
			<h2 class="instructions">
					Use this app to keep track of your medication and appointments
			</h2>
			</div>
		<Button size=sm className='max-w-80'>Hello World</Button>
		<ul role="list" class="">
			<Card 
			title='Card Title', 
			description='Description', 
			content='Content', 
			footer='Footer'>
			</ul>
	</div>
	</main>
</Layout>
