---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import { Button } from "@/components/ui/button"
import Card from '@/components/Card.astro';
import Nav from '@/components/Nav.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	<div class="flex flex-col gap-2 justify-between my-5">
		<!-- <Nav> -->
			<h1>Welcome to Astro</h1>
			<p class="instructions">
				To get started, open the directory <code>src/pages</code> in your project.<br />
				<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
			</p>
		</div>
		<Button>Hello World</Button>
		<ul role="list" class="">
			<Card 
			title='Card Title', 
			description='Description', 
			content='Content', 
			footer='Footer'>
			</ul>
	</main>
</Layout>